<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do tempo</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" href="stylesheet">
</head>
<body>
    <img src="img/compass.svg" alt="Compass UOL" width="150">
  <div class="container">
    <div class="banner-container">
      <img src="img/banner.png" alt="Previsão do Tempo">
      <p class="titulo">Consulta<br>do Tempo</p>
    </div>
    <form id="weatherForm">
      <input type="text" id="location" name="location" placeholder="Só letras ou só números" required>
      <button id="pesquisa-btn" type="submit">Verificar Tempo</button>
    </form>
    <div class="informacoes-clima" id="weatherInfo">
      <p>Digite o nome da cidade e clique em "Verificar Tempo".</p>
    </div>
  </div>

  <script>
    const weatherForm = document.getElementById('weatherForm');
    const weatherInfo = document.getElementById('weatherInfo');

    weatherForm.addEventListener('submit', (event) => {
        event.preventDefault();
        const location = document.getElementById('location').value;
        getWeatherInfo(location);
    });

    async function getWeatherInfo(location) {
      try {
        const response = await fetch(`/weather?location=${location}`);
        const data = await response.json();

        if (data.erro) {
          weatherInfo.textContent = data.erro;
        } else {
          const { location, current } = data;
          const weatherHtml = `
          <p><b>${current.weatherDescription}</b></p>
           <div class="tempo-icone">
            <img src="${current.weatherIcon}" alt="Weather Icon">
            </div>
            <p>${location.name}, ${location.region} - ${location.country}</p>
            <p>Temperatura: ${current.temperature}°C</p>
            <p>Sensação térmica: ${current.feelslike}°C</p>
            <p>Umidade: ${current.humidity}%</p>
            <p>Velocidade do vento: ${current.windSpeed} km/h</p>
          `;
          weatherInfo.innerHTML = weatherHtml;
        }
      } catch (erro) {
        weatherInfo.text = "Erro ao buscar o tempo."
      }
    }


  </script>
</body>
</html>